body {
    font-family: Optima, serif;
    background-image: url("https://images.all-free-download.com/images/graphicthumb/seamless_fish_scale_pattern_vector_312456.jpg");
    background-repeat: repeat;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    background-color: white;
    padding: 100px 200px;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: darkgray;
    font-size: 85%;

}

h1 {
    text-align: center;
    text-shadow: 3px 3px lightgray;
    padding: 30px;
}

h2 {
    text-align: center;
    padding: 10px;
}

b {
    margin: 20px;
}

.button, button {
    border-color: black;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.type {
    background-color: lightgray;
    margin: 0 15px;
}

.checked {
    background-color: black;
    color: white;
}

.center {
    text-align: center;
}

#login {
    float: left;
}

